<ion-header>
	<ion-toolbar color="primary" class="ion-text-center">
		<ion-title>KFE {{'1'}} PRODUCTOS</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<!-- PLATILLOS -->
	<ion-item>
		<ion-label lines="none">
			COMIDAS: 
		</ion-label>
	</ion-item>
	<ion-item lines="full">
		<div class="scroll-horizontal">

			<!-- PLATILLOS item -->
			<div class="scroll-horizontal-item producto-item" *ngFor="let i of platillos" [ngSwitch]="i.disponible">
				<ion-img *ngSwitchCase="false" class="producto-item not-available" [src]="i.foto? i.foto : default" alt="{{i.producto}}" (click)="cambiarDisponibilidadPlatillo(i)"></ion-img>
				<ion-img *ngSwitchCase="true" class="producto-item available" [src]="i.foto? i.foto : default" alt="{{i.producto}}" (click)="cambiarDisponibilidadPlatillo(i)"></ion-img>
				<p>{{i.producto}}</p>
			</div>

		</div>
	</ion-item>
	
	<!-- GUISOS -->
	<ion-item>
		<ion-label lines="none">
			GUISOS: 
		</ion-label>
	</ion-item>
	<ion-item lines="full">
		<div class="scroll-horizontal">

			<div class="scroll-horizontal-item producto-item" *ngFor="let i of guisos" [ngSwitch]="i.disponible">
				
				<ion-img *ngSwitchCase="false" class="producto-item not-available" [src]="i.foto? i.foto : default" alt="{{i.nombre}}" (click)="cambiarDisponibilidadPlatillo(i)"></ion-img>
				
				<ion-img *ngSwitchCase="true" class="producto-item available" [src]="i.foto? i.foto : default" alt="{{i.producto}}" (click)="cambiarDisponibilidadPlatillo(i)"></ion-img>
				<p>{{i.nombre}}</p>
			</div>

		</div>
	</ion-item>
	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button (click)="agregarNuevoProducto()">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>

</ion-content>
