<ion-header>
	<ion-toolbar color="primary" class="ion-text-center">
		<ion-title>KFE {{'1'}} PEDIDOS</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-list>	
		<ion-item lines="none" *ngFor="let pedido of pedidos" (click)="pedidoClicked(pedido)" [ngSwitch]="pedido.estado">

			<div *ngSwitchCase="'Pendiente'" class="card recibido">
				<div class="col-1">
					<p class="title-card">{{pedido.producto}}</p>
					<!-- <img src="https://cdn.kiwilimon.com/recetaimagen/13550/th5-640x426-6040.jpg"/> -->
				</div>
				<div class="col-2">
					<p class="title-card">{{pedido.nombreCliente}}</p>
					<p class="comentario">{{pedido.descripcion}}</p>
					<p class="precio"> ${{pedido.total}} </p>
				</div>
			</div>	

			<div *ngSwitchCase="'Preparacion'" class="card preparando">
				<div class="col-1">
					<p class="title-card">{{pedido.producto}}</p>
					<!-- <img src="https://cdn.kiwilimon.com/recetaimagen/13550/th5-640x426-6040.jpg"/> -->
				</div>
				<div class="col-2">
					<p class="title-card">{{pedido.nombreCliente}}</p>
					<p class="comentario">{{pedido.descripcion}}</p>
					<p class="precio"> ${{pedido.total}} </p>
				</div>
			</div>

			<div *ngSwitchCase="'Finalizado'" class="card entregado">
				<div class="col-1">
					<p class="title-card">{{pedido.producto}}</p>
					<!-- <img src="https://cdn.kiwilimon.com/recetaimagen/13550/th5-640x426-6040.jpg"/> -->
				</div>
				<div class="col-2">
					<p class="title-card">{{pedido.nombreCliente}}</p>
					<p class="comentario">{{pedido.descripcion}}</p>
					<p class="precio"> ${{pedido.total}} </p>
				</div>
			</div>

		</ion-item>
	</ion-list>
</ion-content>
