<ion-content>
	<div class="content">
		<div class="logo">
			<img src="../../assets/icon/cafe.png">
		</div>
		<div class="text-iniciar-sesion">
			<p>Iniciar Sesion</p>
		</div>

		<!-- Input for login -->
		<div class="text-input">
			<ion-input type="text" placeholder="Correo electronico" [(ngModel)]="correo"></ion-input>
		</div>
		<div class="text-input">
			<ion-input type="password" placeholder="Contraseña" [(ngModel)]="contrasena"></ion-input>
		</div>
		
		<!-- Login Button -->
		<div class="btn-iniciar" (click)="iniciarSesion()">
			Iniciar Sesion
		</div>
		<div class="text-registrar">
			<p>No estas registrado?, solicita una cuenta!</p>
		</div>

	</div>
</ion-content>

<ion-footer class="ion-no-border">
	<div class="logo-tec">
		<img src="../../assets/icon/logo-tec.png">
	</div>
</ion-footer>
