<ion-menu side="start" menuId="menu-principal" contentId="principal">
  <ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Menu
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <!-- <ion-item (click)="configurar()">
        <ion-icon slot="start" name="cog-outline"></ion-icon>
        <ion-label>
            Configuracion
        </ion-label>
    </ion-item> -->
</ion-content>
<ion-footer>
    <ion-item (click)="cerrarSesion()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      <ion-label>Cerrar Sesion</ion-label>
  </ion-item>
</ion-footer>
</ion-menu>

<ion-router-outlet id="principal"></ion-router-outlet>