.imagenPedido {
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.descripcion{
    color: gray;
}

.precio{
    display: block;
    margin: auto;
    margin-left: 15px;
    color: gray;
}