<ion-header [translucent]="true">
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title mode="ios">
      <ion-label>
        <h1>{{kfe}}</h1>
      </ion-label>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="full" class="descripcion">
    <h4>{{platillo.producto}}</h4>
  </ion-item>

  <div class="center">
    <img src="{{platillo.foto}}" class="imagenPedido">

    <ion-item class="descripcion" lines="none">
      <ion-text>
        <p>{{platillo.ingredientes}}</p>
      </ion-text>
    </ion-item>

    <ion-row class="precio">
      <ion-col>
        ${{platillo.costo}}
      </ion-col>
    </ion-row>

    <ion-item lines="full" class="descripcion">
      <h5>Guisos disponibles</h5>
    </ion-item>

    <ion-item class="descripcion" lines="none">
      <ion-text>
        <p>{{ guisosDisponibles.join(", ") }}</p>
      </ion-text>
    </ion-item>
    
    <ion-item>
      <ion-label position="stacked">Cantidad</ion-label>
      <ion-input required type="text" class="descripcion" [(ngModel)]="cantidad"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Describe tu pedido</ion-label>
      <ion-textarea class="descripcion" [(ngModel)]="descripcion"></ion-textarea>
    </ion-item>

    <ion-button expand="block" color="primary" (click)="agregarPedido()">Ordenar</ion-button>
    
  </div>

</ion-content>
